<?xml version="1.0"?>
<launch>

    <arg name="xacro_file"  default="$(find interactive_calibration)/calibrations/ur10e/eye_in_hand_chess/ur10e.urdf.xacro" />
    <arg name="rviz_config" default="$(find interactive_calibration)/calibrations/ur10e/eye_in_hand_chess/rviz.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_file)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="false"/>
</launch>
