<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="pr2_calibration" params="name">
        <!--<sensor name="narrow_stereo" update_rate="20.0">-->
            <!--<parent link="narrow_stereo_optical_frame"/>-->
            <!--<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>-->
            <!--<calibration_parent link="double_stereo_link"/>-->
            <!--<calibration_child link="narrow_stereo_link"/>-->
        <!--</sensor>-->

        <!--<sensor name="wide_stereo_left" update_rate="20.0">-->
            <!--<parent link="wide_stereo_optical_frame"/>-->
            <!--<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>-->
            <!--<calibration_parent link="double_stereo_link"/>-->
            <!--<calibration_child link="wide_stereo_link"/>-->
        <!--</sensor>-->

        <sensor name="wide_stereo_right" update_rate="20.0">
            <parent link="wide_stereo_optical_frame"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <calibration_parent link="double_stereo_link"/>
            <calibration_child link="wide_stereo_link"/>
            <topic topic="/wide_stereo/left/image_rect"/>

        </sensor>
        <!--<sensor name="high_def" update_rate="20.0">-->
            <!--<parent link="high_def_optical_frame"/>-->
            <!--<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>-->
            <!--<calibration_parent link="sensor_mount_link"/>-->
            <!--<calibration_child link="high_def_frame"/>-->
        <!--</sensor>-->

        <sensor name="base_laser" update_rate="20.0">
            <parent link="base_laser_link"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <calibration_parent link="base_link"/>
            <calibration_child link="base_laser_link"/>
            <topic topic="/base_scan"/>
        </sensor>

        <sensor name="laser_tilt" update_rate="20.0">
            <parent link="laser_tilt_link"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <calibration_parent link="laser_tilt_mount_link"/>
            <calibration_child link="laser_tilt_link"/>
            <topic topic="/tilt_scan"/>
        </sensor>
    </xacro:macro>
</robot>
