<launch>
    <!--Parameters-->
    <!--<arg name="bag" default="test_bag.bag"/>-->
    <!--&lt;!&ndash;<param name="/use_sim_time" value="true"/>&ndash;&gt;-->

    <!--&lt;!&ndash;<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="/home/$(env USER)/Desktop/$(arg bag) &#45;&#45;clock -r 1 -l"/>&ndash;&gt;-->
    <!--<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="/home/$(env USER)/Desktop/$(arg bag) -r 1 -l"/>-->

    <arg name="car_model" default="false" />
    <arg name="read_first_guess" default="false" />
   <arg name="rvizconfig" default="$(find interactive_calibration)/rviz/rviz.rviz"/>

    <group if = "$(arg car_model)">
    <group if="$(arg read_first_guess)">
        <arg name="model" default="$(find interactive_calibration)/urdf/macro_first_guess.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    </group>

    <group unless="$(arg read_first_guess)">
        <arg name="model" default="$(find atlas2_description)/urdf/atlas2.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    </group>

    </group>

    <group unless = "$(arg car_model)">

    <group if="$(arg read_first_guess)">
        <arg name="model" default="$(find interactive_calibration)/urdf/macro_first_guess.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    </group>

    <group unless="$(arg read_first_guess)">
        <arg name="model" default="$(find interactive_calibration)/urdf/pr2_no_arms.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    </group>

    </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
   <param name="use_gui" value="true" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>