<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find interactive_marker_test)/urdf/atlas2_model_macro.urdf.xacro" />
    <xacro:include filename="$(find interactive_marker_test)/urdf/pointgrey_flea3.urdf.xacro" />
    <xacro:include filename="$(find interactive_marker_test)/urdf/sick_ldmrs_macros.urdf.xacro" />
    <xacro:include filename="$(find interactive_marker_test)/urdf/sick_lms1xx.urdf.xacro" />

    <xacro:macro name="atlas2" params="prefix">

        <!-- links -->
        <link name="${prefix}ground" />
        <link name="${prefix}car_center" />
        <link name="${prefix}moving_axis" />

        <!-- car model -->
        <xacro:atlas2_model prefix="${prefix}" />
        <joint name="${prefix}ground_to_${prefix}model" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}ground" />
            <child link="${prefix}model" />
        </joint>

        <!-- joints -->
        <joint name="${prefix}ground_to_${prefix}car_center" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}ground" />
            <child link="${prefix}car_center" />
        </joint>

        <joint name="${prefix}car_center_to_${prefix}moving_axis" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}moving_axis" />
        </joint>

        <!-- frontal camera -->
        <xacro:pointgrey_flea3 name="${prefix}front_camera" frame="${prefix}front_camera" />

        <joint name="${prefix}car_center_to_${prefix}front_camera" type="fixed">
            <origin xyz="0 0 0.85" rpy="0 0 ${-pi/2}" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}front_camera" />
        </joint>

         <sensor name="${prefix}front_camera" update_rate="20">
             <parent link="${prefix}front_camera"/>
             <origin xyz="0 0 0" rpy="0 0 0"/>
         </sensor>

        <!-- top camera -->
        <xacro:pointgrey_flea3 name="${prefix}top_camera" frame="${prefix}top_camera" />

        <joint name="${prefix}car_center_to_${prefix}top_camera" type="fixed">
            <origin xyz="0 1.50 1.65" rpy="0 0.4 ${-pi/2}" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}top_camera" />
        </joint>

         <sensor name="${prefix}top_camera" update_rate="20">
             <parent link="${prefix}top_camera"/>
             <origin xyz="0 0 0" rpy="0 0 0"/>
         </sensor>

        <!-- laser sensor lms_ldmrs400001 -->
        <xacro:sick_ldmrs name="${prefix}front_laser" />

        <joint name="${prefix}car_center_to_${prefix}front_laser_mount_link" type="fixed">
            <origin xyz="0 0 0.4" rpy="0 0 -${pi/2}" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}front_laser_mount_link" />
        </joint>

         <sensor name="${prefix}front_laser" update_rate="20">
             <parent link="${prefix}front_laser_mount_link"/>
             <origin xyz="0 0 0" rpy="0 0 0"/>
         </sensor>

        <!-- left lms151 laser -->
        <xacro:sick_lms1xx frame="${prefix}left_laser" />

        <joint name="${prefix}car_center_to_${prefix}left_laser" type="fixed">
            <origin xyz="-0.70 0.05 0.50" rpy="0 0 ${-2.2}" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}left_laser" />
        </joint>

         <sensor name="${prefix}left_laser" update_rate="20">
             <parent link="${prefix}left_laser"/>
             <origin xyz="0 0 0" rpy="0 0 0"/>
         </sensor>

        <!-- right lms151 laser -->
        <xacro:sick_lms1xx frame="${prefix}right_laser" />

        <joint name="${prefix}car_center_to_${prefix}right_laser" type="fixed">
            <origin xyz="0.70 0.05 0.50" rpy="0 0 ${-1}" />
            <parent link="${prefix}car_center" />
            <child link="${prefix}right_laser" />
        </joint>

         <sensor name="${prefix}right_laser" update_rate="20">
             <parent link="${prefix}right_laser"/>
             <origin xyz="0 0 0" rpy="0 0 0"/>
         </sensor>

    </xacro:macro>
</robot>