<?xml version="1.0"?>
<robot name="atlas">
  <link name="ground"/>
  <link name="car_center"/>
  <link name="moving_axis"/>
  <link name="model">
    <visual>
      <origin xyz="-0.9 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://interactive_marker_test/meshes/mitsubishi_miev.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="ground_to_model" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="ground"/>
    <child link="model"/>
  </joint>
  <joint name="ground_to_car_center" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="ground"/>
    <child link="car_center"/>
  </joint>
  <joint name="car_center_to_moving_axis" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="car_center"/>
    <child link="moving_axis"/>
  </joint>
  <link name="front_camera">
    <inertial>
      <mass value="0.085"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="front_camera_optical"/>
  <joint name="front_camera_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.570796 0.0 -1.570796"/>
    <parent link="front_camera"/>
    <child link="front_camera_optical"/>
  </joint>
  <gazebo reference="front_camera_optical"><material>Gazebo/Grey</material>
    <sensor name="front_camera" type="camera">
      <update_rate>120</update_rate>
      <camera name="front_camera">
        <pose>0 0 0 0 -1.5707 1.5707</pose>
        <horizontal_fov>1.0471975512</horizontal_fov>
        <image>
          <width>1272</width>
          <height>1016</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.5</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>120</updateRate>
        <cameraName>front_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>front_camera_optical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="car_center_to_front_camera" type="fixed">
    <origin xyz="0.0 0.0 0.85" rpy="0.0 0.0 -0.707106781185"/>
    <parent link="car_center"/>
    <child link="front_camera"/>
  </joint>
  <sensor name="front_camera" update_rate="20.0">
    <parent link="front_camera"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
  <link name="top_camera">
    <inertial>
      <mass value="0.085"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="top_camera_optical"/>
  <joint name="top_camera_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.570796 0.0 -1.570796"/>
    <parent link="top_camera"/>
    <child link="top_camera_optical"/>
  </joint>
  <gazebo reference="top_camera_optical"><material>Gazebo/Grey</material>
    <sensor name="top_camera" type="camera">
      <update_rate>120</update_rate>
      <camera name="top_camera">
        <pose>0 0 0 0 -1.5707 1.5707</pose>
        <horizontal_fov>1.0471975512</horizontal_fov>
        <image>
          <width>1272</width>
          <height>1016</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.5</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>120</updateRate>
        <cameraName>top_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>top_camera_optical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="car_center_to_top_camera" type="fixed">
    <origin xyz="0.0 1.5 1.65" rpy="0.140480431019 0.140480431019 -0.693011723204"/>
    <parent link="car_center"/>
    <child link="top_camera"/>
  </joint>
  <sensor name="top_camera" update_rate="20.0">
    <parent link="top_camera"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
  <link name="front_laser_mount_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
  </link>
  <joint name="front_laser_joint" type="fixed">
    <origin xyz="0.044 0.02325 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="front_laser_mount_link"/>
    <child link="front_laser"/>
  </joint>
  <link name="front_laser">
    <inertial>
      <origin xyz="0.0026 -0.02325 -0.0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.00290035300653" ixy="0.0" ixz="0.0" iyy="0.00136918611899" iyz="0.0" izz="0.00297887297512"/>
    </inertial>
    <visual>
      <origin xyz="-0.044 -0.02325 -0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://sick_ldmrs_description/meshes/sick_ldmrs.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.044 -0.02325 -0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://sick_ldmrs_description/meshes/sick_ldmrs.dae"/>
      </geometry>
    </collision>
  </link>
  <joint name="car_center_to_front_laser_mount_link" type="fixed">
    <origin xyz="-4.09781932831e-08 -0.677897512913 0.40000000596" rpy="0.488538146019 0.488538146019 -0.511205017567"/>
    <parent link="car_center"/>
    <child link="front_laser_mount_link"/>
  </joint>
  <sensor name="front_laser_mount_link" update_rate="20.0">
    <parent link="front_laser_mount_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
  <link name="left_laser">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="1.1"/>
      <inertia ixx="0.00307156543804" ixy="0.0" ixz="0.0" iyy="0.00312849041527" iyz="0.0" izz="0.00196432421427"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://lms1xx/meshes/sick-lms1xx.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.105 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="left_laser"><turnGravityOff>true</turnGravityOff>
    <sensor name="left_laser" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2.35619</min_angle>
            <max_angle>2.35619</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_laser">
        <topicName>scan</topicName>
        <frameName>left_laser</frameName>
        <robotNamespace>/</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="car_center_to_left_laser" type="fixed">
    <origin xyz="-1.73570680618 0.0500000007451 0.5" rpy="0.0 0.0 0.891207337379"/>
    <parent link="car_center"/>
    <child link="left_laser"/>
  </joint>
  <sensor name="left_laser" update_rate="20.0">
    <parent link="left_laser"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
  <link name="right_laser">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="1.1"/>
      <inertia ixx="0.00307156543804" ixy="0.0" ixz="0.0" iyy="0.00312849041527" iyz="0.0" izz="0.00196432421427"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://lms1xx/meshes/sick-lms1xx.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.105 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="right_laser"><turnGravityOff>true</turnGravityOff>
    <sensor name="right_laser" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2.35619</min_angle>
            <max_angle>2.35619</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_laser">
        <topicName>scan</topicName>
        <frameName>right_laser</frameName>
        <robotNamespace>/</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="car_center_to_right_laser" type="fixed">
    <origin xyz="1.37336158752 0.0500000007451 0.5" rpy="-0.317598730326 0.581360697746 -0.359137684107"/>
    <parent link="car_center"/>
    <child link="right_laser"/>
  </joint>
  <sensor name="right_laser" update_rate="20.0">
    <parent link="right_laser"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
</robot>
