<?xml version="1.0"?>
<robot name="atlas">
  <link name="base_link"/>
  <link name="car_base_link">
    <visual>
      <origin xyz="-0.9 0.0 -0.5" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://interactive_marker_test/meshes/mitsubishi_miev.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="base_link_to_car" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="car_base_link"/>
  </joint>
  <link name="frontal_camera">
    <inertial>
      <mass value="0.085"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0754 0.029 0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="frontal_camera_optical"/>
  <joint name="frontal_camera_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.570796 0.0 -1.570796"/>
    <parent link="frontal_camera"/>
    <child link="frontal_camera_optical"/>
  </joint>
  <gazebo reference="frontal_camera_optical"><material>Gazebo/Grey</material>
    <sensor name="camera" type="camera">
      <update_rate>120</update_rate>
      <camera name="camera">
        <pose>0 0 0 0 -1.5707 1.5707</pose>
        <horizontal_fov>1.0471975512</horizontal_fov>
        <image>
          <width>1272</width>
          <height>1016</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.5</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <alwaysOn>true</alwaysOn>
        <updateRate>120</updateRate>
        <cameraName>camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>frontal_camera_optical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="base_link_to_frontal_camera" type="fixed">
    <origin xyz="0.0 -0.1 0.2" rpy="0.0 0.0 -1.57079632679"/>
    <parent link="base_link"/>
    <child link="frontal_camera"/>
  </joint>
  <link name="frontal_laser_left">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="1.1"/>
      <inertia ixx="0.00307156543804" ixy="0.0" ixz="0.0" iyy="0.00312849041527" iyz="0.0" izz="0.00196432421427"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://lms1xx/meshes/sick-lms1xx.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.105 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="frontal_laser_left"><turnGravityOff>true</turnGravityOff>
    <sensor name="frontal_laser_left" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2.35619</min_angle>
            <max_angle>2.35619</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_laser">
        <topicName>scan</topicName>
        <frameName>frontal_laser_left</frameName>
        <robotNamespace>/</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <sensor name="frontal_laser_left" update_rate="20.0">
    <parent link="frontal_laser_left"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </sensor>
  <joint name="base_link_to_frontal_laser_left" type="fixed">
    <origin xyz="3.6 0.0 0.0" rpy="0.0 0.0 -1.0471975512"/>
    <parent link="base_link"/>
    <child link="frontal_laser_left"/>
  </joint>
  <link name="frontal_laser_right">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="1.1"/>
      <inertia ixx="0.00307156543804" ixy="0.0" ixz="0.0" iyy="0.00312849041527" iyz="0.0" izz="0.00196432421427"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://lms1xx/meshes/sick-lms1xx.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.105 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="frontal_laser_right"><turnGravityOff>true</turnGravityOff>
    <sensor name="frontal_laser_right" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-2.35619</min_angle>
            <max_angle>2.35619</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.1</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_laser">
        <topicName>scan</topicName>
        <frameName>frontal_laser_right</frameName>
        <robotNamespace>/</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="base_link_to_frontal_laser_right" type="fixed">
    <origin xyz="-0.6 0.0 0.0" rpy="0.0 0.0 -2.09439510239"/>
    <parent link="base_link"/>
    <child link="frontal_laser_right"/>
  </joint>
  <link name="tablier_marker"/>
  <joint name="frontal_camera_optical_to_tablier_marker" type="fixed">
    <origin xyz="-0.0515 -0.1984 -0.8176" rpy="3.64159265359 -0.2 -1.57079632679"/>
    <parent link="frontal_camera_optical"/>
    <child link="tablier_marker"/>
  </joint>
</robot>
