<?xml version="1.0" ?>
<robot name="robot" version="1.0">
  <material name="Orange">
    <color rgba="1.0 0.4 0.0 1.0"/>
  </material>
  <material name="tripod_color">
    <color rgba="0.21 0.21 0.21 1.0"/>
  </material>
  <gazebo reference="tripod">
    <material>Gazebo/DarkGrey</material>
    <selfCollide>false</selfCollide>
  </gazebo>
  <joint name="rgb_left_joint" type="fixed">
    <origin xyz="0.01499999999999957 -3.2057426077360894e-16 0.012000000000000375" rpy="-3.0805097672264623e-16 4.385950745910349e-16 2.603825111285602e-17"/>
    <parent link="tripod_left_support"/>
    <child link="rgb_left_link"/>
  </joint>
  <link name="rgb_left_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.00564"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.00049894" iyz="0.0" izz="0.003879257"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="red">
        <color rgba="0.9 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="rgb_left_link">
    <selfCollide>false</selfCollide>
    <material>Gazebo/Red</material>
  </gazebo>
  <joint name="rgb_left_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707963267948966 0.0 -1.5707963267948966"/>
    <parent link="rgb_left_link"/>
    <child link="rgb_left_optical_frame"/>
  </joint>
  <link name="rgb_left_optical_frame"/>
  <gazebo reference="rgb_left_link">
    <sensor name="camera" type="camera">
      <update_rate>10.0</update_rate>
      <camera>
        <horizontal_fov>1.0471975511965976</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>1200</width>
          <height>800</height>
        </image>
        <clip>
          <near>0.10</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="rgb_left_rgb_camera_controller">
        <cameraName>rgb_left</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>0</updateRate>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>rgb_left_optical_frame</frameName>
        <baseline>0.0</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="rgb_right_joint" type="fixed">
    <origin xyz="0.014896101514833615 -0.00010643945277278731 0.011919487541689396" rpy="-9.733722284792457e-05 -8.500523015444027e-05 7.164825060903521e-05"/>
    <parent link="tripod_right_support"/>
    <child link="rgb_right_link"/>
  </joint>
  <link name="rgb_right_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.00564"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.00049894" iyz="0.0" izz="0.003879257"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 0.9 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="rgb_right_link">
    <selfCollide>false</selfCollide>
    <material>Gazebo/Green</material>
  </gazebo>
  <joint name="rgb_right_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707963267948966 0.0 -1.5707963267948966"/>
    <parent link="rgb_right_link"/>
    <child link="rgb_right_optical_frame"/>
  </joint>
  <link name="rgb_right_optical_frame"/>
  <gazebo reference="rgb_right_link">
    <sensor name="camera" type="camera">
      <update_rate>10.0</update_rate>
      <camera>
        <horizontal_fov>1.0471975511965976</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>1200</width>
          <height>800</height>
        </image>
        <clip>
          <near>0.10</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="rgb_right_rgb_camera_controller">
        <cameraName>rgb_right</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>0</updateRate>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>rgb_right_optical_frame</frameName>
        <baseline>0.0</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
      </plugin>
    </sensor>
  </gazebo>
  <link name="world"/>
  <link name="tripod">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/tripod/tripod.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="tripod_color"/>
    </visual>
    <collision name="tripod_collision">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://rrbot_description/meshes/tripod/tripod.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="world_to_tripod" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="tripod"/>
  </joint>
  <link name="tripod_plate">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.4 0.015"/>
      </geometry>
      <material name="tripod_color"/>
    </visual>
    <collision name="tripod_collision">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.15 0.015"/>
      </geometry>
    </collision>
  </link>
  <joint name="tripod_to_tripod_plate" type="fixed">
    <origin xyz="0.01 0.03 1.65" rpy="0.0 0.314 0.0"/>
    <parent link="tripod"/>
    <child link="tripod_plate"/>
  </joint>
  <link name="tripod_left_support"/>
  <joint name="tripod_plate_to_tripod_left_support" type="fixed">
    <origin xyz="0.0 0.18 0.0075" rpy="0.0 0.0 0.0"/>
    <parent link="tripod_plate"/>
    <child link="tripod_left_support"/>
  </joint>
  <link name="tripod_right_support"/>
  <joint name="tripod_plate_to_tripod_right_support" type="fixed">
    <origin xyz="0.0 -0.18 0.0075" rpy="0.0 0.0 0.0"/>
    <parent link="tripod_plate"/>
    <child link="tripod_right_support"/>
  </joint>
</robot>