<launch>

    <!-- ###############################################-->
    <!-- Arguments -->
    <!-- ###############################################-->
    <arg name="moveit" default="true" doc="Use MoveIt for motion planning" />
    <arg name="sim" default="true"
        doc="Launch a simulated environment (mmtbot is only simulated so it defaults to true)" />
    <arg name="gui" default="false" doc="Starts gazebo gui" />
    <arg name="rviz" default="true" doc="Launch RViz with movit planner plugin"/>

    <!-- ###############################################-->
    <!-- Launch files and nodes -->
    <!-- ###############################################-->
    <group if="$(arg moveit)">
        <include
            file="$(find rihbot_description)/launch/ur10e_moveit_planning_execution.launch">
            <arg name="sim" value="$(arg sim)" />
            <arg name="load_robot_description" value="false" />
        </include>
    </group>

    <include file="$(find rihbot_description)/launch/ur10e_bringup.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="robot_description_file" value="$(find rihbot_description)/launch/inc/load_ur10e.launch.xml"/>
    </include>

    <include file="$(find rihbot_bringup)/launch/visualize.launch">
    </include>

</launch>