Alpha: {{ c.Alpha | default(0.5) }}
Cell Size: {{ c.Cell_Size | default(1) }}
Class: rviz/Grid
Color: {{ c.Color | default("160; 160; 164") }}
Enabled: {{ c.Enabled | default(true) }}
Line Style:
  Line Width: {{ c.Line_Width | default(0.02) }}
  Value: Lines
Name: {{ c.Name | default("Grid") }}
Normal Cell Count: 0
Offset:
  X: 0
  Y: 0
  Z: 0
Plane: XY
Plane Cell Count: 10
Reference Frame: {{ c.Reference_Frame | default("base_link") }}
Value: true