Class: rviz/Image
Enabled: {{ c.Enabled | default(true) }}
Image Topic: {{ c.Image_Topic | default("/camera/image_color")}}
Max Value: 1
Median window: 5
Min Value: 0
Name: {{ c.Name | default("Camera") }}
Normalize Range: true
Queue Size: 2
Transport Hint: raw
Unreliable: false
Value: false
