Class: rviz/LaserScan
Alpha: 1
Autocompute Intensity Bounds: true
Autocompute Value Bounds:
  Max Value: 0.5
  Min Value: 0.5
  Value: true
Axis: Z
Channel Name: intensity
Color: {{ c.Color | default("128; 177; 211") }}
Color Transformer: FlatColor
Decay Time: 0
Enabled: {{ c.Enabled | default(true) }}
Invert Rainbow: false
Max Color: 255; 255; 255
Max Intensity: 695
Min Color: 0; 0; 0
Min Intensity: 215
Name: {{ c.Name | default("LaserScan") }}
Position Transformer: XYZ
Queue Size: 10
Selectable: true
Size (Pixels): 5
Size (m): 0.10000000149011612
Style: Points
Topic: {{ c.Topic | default("/laserscan")}}
Unreliable: false
Use Fixed Frame: true
Use rainbow: true
Value: true
