<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ase_2rgb is a simple robotic system containing two rgb cameras on top of a tripop.  -->
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- testing adding a sensor camera -->
    <xacro:include filename="$(find ase_2rgb_description)/urdf/rgbd_camera.urdf.xacro" />

    <!-- Right Camera -->
    <xacro:rgbd_camera parent="tripod_right_support" prefix="rgb_right">
        <origin xyz="0 0.05 0.015"
            rpy="0 0 0" />
    </xacro:rgbd_camera>
 
    <!-- Left Camera -->
    <xacro:rgbd_camera parent="tripod_left_support" prefix="rgb_left">
        <origin xyz="0 0.075 0.015"
            rpy="0 0 0" />
    </xacro:rgbd_camera>

    <material name="grey">
        <color rgba="0.7 0.7 0.7 1.0" />
    </material>

    <!-- Define links and joints -->
    <link name="world" />

    <!-- Tripod link-->
    <link name="tripod">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://ase_2rgb_description/meshes/tripod/tripod.dae" scale="0.04 0.04 0.04" />
            </geometry>
            <material name="grey"/>
        </visual>
        <collision name="tripod_collision">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://ase_2rgb_description/meshes/tripod/tripod.dae" scale="0.04 0.04 0.04" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
    </link>

      <!-- parent to tripod -->
    <joint name="world_to_tripod" type="fixed">
        <parent link="world" />
        <child link="tripod" />
        <!-- <xacro:insert_block name="origin" /> -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

       <link name="tripod_plate">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.4 0.015" />
            </geometry>
            <material name="grey" />
        </visual>
        <collision name="tripod_collision">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.15 0.015" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
    </link>

       <!-- tripod to tripod plate-->
    <joint name="tripod_to_tripod_plate" type="fixed">
        <parent link="tripod" />
        <child link="tripod_plate" />
        <origin xyz=".01 .03 1.33" rpy="0 0.314 0" />
    </joint>

    <!-- Tripod left support-->
    <link name="tripod_left_support" />

    <!-- tripod plate to tripod left support -->
    <joint name="tripod_plate_to_tripod_left_support" type="fixed">
        <parent link="tripod_plate" />
        <child link="tripod_left_support" />
        <origin xyz="0 0.18 0.0075" rpy="0 0 0" />
    </joint>

    <!-- Tripod right support-->
    <link name="tripod_right_support" />

    <!-- tripod plate to tripod right support -->
    <joint name="tripod_plate_to_tripod_right_support" type="fixed">
        <parent link="tripod_plate" />
        <child link="tripod_right_support" />
        <origin xyz="0 -0.18 0.0075" rpy="0 0 0" />
    </joint>

    <!-- </xacro:macro> -->
</robot>