<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur10e_and_camera">
    <xacro:include filename="$(find ur_e_description)/urdf/ur10e_joint_limited_robot.urdf.xacro" />

    <link name="astra_link" />
    <link name="kinect_link" />

    <joint name="astra_eef_joint" type="fixed">
        <parent link="ee_link"  />
        <child  link="astra_link"/>
        <origin xyz="0 0 0" rpy="${pi} 0 0"/>
    </joint>

    <joint name="kinect_base_joint" type="fixed">
        <parent link="base_link"  />
        <child  link="kinect_link"/>
        <origin xyz="0.9 0.17 0.6" rpy="0 0.57 2.19"/>
    </joint>




</robot>
