<launch>

    <arg name="rvizconfig" default="$(find interactive_marker_test)/rviz/rviz.rviz" />

    <arg name="read_first_guess" default="false" />

    <group if="$(arg read_first_guess)">
        <arg name="model" default="$(find interactive_marker_test)/urdf/atlas2_macro_first_guess.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    </group>

    <group unless="$(arg read_first_guess)">
        <arg name="model" default="$(find interactive_marker_test)/urdf/atlas2.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>