<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas">
<!--    <xacro:include filename="$(find atlas2_description)/urdf/atlas2_macro.urdf.xacro"/>-->
    <xacro:include filename="$(find atlas2_description)/urdf/atlas2_macro.urdf.xacro"/>
    <xacro:atlas2 prefix=""/>

    <!--#TODO Added by Miguel-->
    <xacro:include filename="$(find interactive_calibration)/calibrations/atlascar2/atlascar2_calibration.xacro"/>
    <xacro:atlascar2_calibration prefix=""/>
</robot>