<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="atlascar2_calibration" params="prefix">

        <sensor name="${prefix}top_right_camera" update_rate="20">
            <parent link="${prefix}top_right_camera_optical"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <calibration_parent link="${prefix}base_link"/>
            <calibration_child link="${prefix}top_right_camera"/>
            <topic topic="/top_right_camera/image_color"/>
        </sensor>

        <sensor name="${prefix}top_left_camera" update_rate="20">
            <parent link="${prefix}top_left_camera_optical"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <calibration_parent link="${prefix}base_link"/>
            <calibration_child link="${prefix}top_left_camera"/>
            <topic topic="/top_right_camera/image_color"/>
        </sensor>

<!--        <sensor name="${prefix}frontal_laser" update_rate="20">-->
<!--            <parent link="${prefix}frontal_laser"/>-->
<!--            <origin xyz="0 0 0" rpy="0 0 0"/>-->
<!--            <calibration_parent link="${prefix}base_link"/>-->
<!--            <calibration_child link="${prefix}frontal_laser_mount_link"/>-->
<!--            <topic topic="/frontal_laser/cloud"/>-->
<!--        </sensor>-->

        <sensor name="${prefix}left_laser" update_rate="20">
            <parent link="${prefix}left_laser"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <calibration_parent link="${prefix}base_link"/>
            <calibration_child link="${prefix}left_laser"/>
            <topic topic="/left_laser/laserscan"/>
        </sensor>

        <sensor name="${prefix}right_laser" update_rate="20">
            <parent link="${prefix}right_laser"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <calibration_parent link="${prefix}base_link"/>
            <calibration_child link="${prefix}right_laser"/>
            <topic topic="/right_laser/laserscan"/>
        </sensor>


    </xacro:macro>

</robot>
