<launch>

<!--Load robot xacro into robot_description ros parameter.-->
<include file="$(find rrcbot_description)/launch/upload.launch">
</include>

<!--Load robot xacro into robot_description ros parameter.-->
<include file="$(find rrcbot_gazebo)/launch/spawn.launch">
</include>

<include file="$(find rrcbot_bringup)/launch/visualize.launch">
</include>

<node name="interactive_pattern" pkg="atom_worlds" type="interactive_pattern" output="screen" args="--model_name chessboard_1200x900_10x7 --mesh_resource package://atom_worlds/pattern/models/chessboard_1200x900_10x7/chessboard_1200x900_10x7.dae" >
</node>

</launch>