<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur10e" >

  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />
  <xacro:ur10e_robot prefix="" joint_limited="false"/>

  <xacro:include filename="$(find ur_e_description)/urdf/astra.urdf.xacro" />
  <xacro:sensor_astra parent="ee_link" prefix="camera">
      <!-- NOTE: CHANGE THIS -->
      <origin xyz="0 0 0" rpy="${pi} 0 0"/>
      <!-- <origin xyz="0.041311319304504816 -0.06402544453787727 0.044527571211305426" rpy="3.13766148064 -0.00787797070144 0.000110993634886"/> -->
  </xacro:sensor_astra>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
