<?xml version="1.0"?>
<launch>
        <arg name="bag" default="/tmp/tmp.bag"/>

<!--        <param name="/use_sim_time" value="false"/>-->

        <!--To record only raw data-->
        <!-- http://wiki.ros.org/openni_launch/Tutorials/BagRecordingPlayback-->
        <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
        /tf
        /tf_static
        /joint_states
        /front_left_camera/rgb/image_raw/compressed
        /front_left_camera/rgb/camera_info
        /front_right_camera/rgb/image_raw/compressed
        /front_right_camera/rgb/camera_info
        /back_camera/rgb/image_raw/compressed
        /back_camera/rgb/camera_info
        /lidar3d/points
        -o $(arg bag)">
        </node>
</launch>
