<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="name" default="softbot"/>

    <!-- Use a name namespace to get unique topic names, services, parameters, etc.-->

      <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
      <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="teleop_rqt"  output="screen" args="-t">
<!--        <param name="~default_topic" value="/$(arg name)/differential_drive_controller/cmd_vel"></param>-->
        <param name="~default_topic" value="/cmd_vel"></param>
      </node>


</launch>