<?xml version="1.0"?>
<robot name="rgb_camera" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- This is a xacro macro to define and rgb camera.
	You can define as arguments the parent coordinate frame, the name of the sensor, the transformation
	from that parent frame to the camera's root frame, the color to be used in rviz, and the color
	used in gazebo. Colors should be specified for both rviz and gazebo since these have independent colors.
	Gazebo colors should be capitalized and from this list:
		http://wiki.ros.org/simulator_gazebo/Tutorials/ListOfMaterials
	-->

	<!-- Start of macro -->
	<xacro:macro name="rgb_camera" params="parent prefix *origin **color_rviz color_gazebo">

		<joint name="${prefix}_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${prefix}_link" />
		</joint>

		<link name="${prefix}_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh
						filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl"
						scale="1 1 1" />
				</geometry>
				<xacro:insert_block name="color_rviz" />
			</visual>

			<collision>
				<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
				<geometry>
					<mesh
						filename="package://rrbot_description/meshes/rgb_camera/rgb_camera.stl"
						scale="1 1 1" />
				</geometry>
			</collision>
			<inertial>
				<mass value="0.00564" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
					iyy="0.000498940" iyz="0.0"
					izz="0.003879257" />
			</inertial>
		</link>

		<gazebo reference="${prefix}_link">
			<selfCollide>false</selfCollide>
			<material>Gazebo/${color_gazebo}</material>
		</gazebo>

		<joint name="${prefix}_optical_joint" type="fixed">
			<origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
			<parent link="${prefix}_link" />
			<child link="${prefix}_optical_frame" />
		</joint>
		<link name="${prefix}_optical_frame" />

		<!-- RGB Camera sensor-->
		<gazebo reference="${prefix}_link">
			<sensor type="camera" name="camera">
				<update_rate>10.0</update_rate>
				<camera>
					<horizontal_fov>${60.0*pi/180.0}</horizontal_fov>
					<image>
						<format>B8G8R8</format>
						<width>1200</width>
						<height>800</height>
					</image>
					<clip>
						<near>0.10</near>
						<far>8.0</far>
					</clip>
				</camera>
				<plugin name="${prefix}_rgb_camera_controller" filename="libgazebo_ros_camera.so">
					<cameraName>${prefix}</cameraName>
					<alwaysOn>true</alwaysOn>
					<updateRate>0</updateRate>
					<imageTopicName>image_raw</imageTopicName>
					<cameraInfoTopicName>camera_info</cameraInfoTopicName>
					<frameName>${prefix}_optical_frame</frameName>
					<!-- Apparently this is not used-->
					<baseline>0.0</baseline>
					<distortion_k1>0.0</distortion_k1>
					<distortion_k2>0.0</distortion_k2>
					<distortion_k3>0.0</distortion_k3>
					<distortion_t1>0.0</distortion_t1>
					<distortion_t2>0.0</distortion_t2>
				</plugin>
			</sensor>
		</gazebo>

	</xacro:macro>
</robot>